
    {{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Lobo Solitario</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quia accusantium laboriosam, vero ipsa ullam iure expedita in odit illum commodi quod facilis maxime, provident, atque dolor fugit aliquam voluptatibus.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/lobo.jpg" class="img-thumbnail">
        </div>
    </div>


   {{> footer}}